
* {
    box-sizing: border-box;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}
body {
    background-color: #ffffff;
}

/* 전체 */
.app {
    display: flex;
    height: 100vh;
}

/* 사이드바 */
.sidebar {
    width: 60px;
    background-color: #f4f6f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar-icon {
    font-size: 20px;
    margin: 16px 0;
    opacity: 0.4;
    cursor: pointer;
}

.sidebar-icon.active {
    opacity: 1;
}

/* 메인 */
.main {
    flex: 1;
    max-width: 420px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

/* 헤더 */
.header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #eee;


}
.header-title {
    font-family: "Yeon Sung", cursive;
    font-size: 25px;
    font-weight: 590;
}

/* 채팅 리스트 */
.chat-list {
    flex: 1;
    overflow-y: auto;
}
/* 그룹 채팅 아바타 */
.group-avatar {
    width: 44px;
    height: 44px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background-color: #ddd;
}

/* 공통 이미지 */
.group-avatar img {
    position: absolute;
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

/* 배치 위치 */
.group-avatar img:nth-child(1) {
    top: 0;
    left: 0;
}

.group-avatar img:nth-child(2) {
    top: 0;
    right: 0;
}

.group-avatar img:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* 채팅 아이템 */
.chat-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s ease;
}

.chat-item:hover {
    background-color: #f5f9fa;
}

/* 프로필 */
.avatar {
    width: 44px;
    height: 44px;
    background-color: #8fd1ea;
    border-radius: 16px;
    flex-shrink: 0;
}

/* 채팅 정보 */
.chat-info {
    flex: 1;
}

.chat-name {
    font-size: 16px;
    font-weight: 500;
    font-family: "Yeon Sung", cursive;
}

.chat-preview {
    font-size: 12px;
    color: #999;
    margin-top: 4px;
    font-family: "Yeon Sung", cursive;
}

.chat-time {
    font-size: 11px;
    color: #aaa;
    white-space: nowrap;
}
